---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <main class="">
    <section class="w-full p-2 gap-2 px-10 grid grid-cols-4">
      <a
        href="/games/pong"
        class="transition-all text-gray-50 bg-zinc-900 px-6 py-2 flex place-items-center h-24 font-bold hover:bg-lime-400 hover:text-3xl hover:text-gray-950"
      >
        <span>Pong</span>
      </a>
    </section>
  </main>
</Layout>
