---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <main class="p-8">
    <section class="w-full gap-2 flex flex-col" id="articles-container">
      <a
        id="a-001"
        href="/articles/a-001"
        class="transition-all text-gray-50 bg-zinc-900 px-6 py-2 flex place-items-center h-24 font-bold hover:bg-lime-400 hover:text-3xl hover:text-gray-950"
      >
        <span>How I build and deploy this website.</span>
      </a>
    </section>
  </main>
</Layout>
