---
const { pathname } = Astro.url;
const links = [
  { name: "Game", path: "/games" },
  { name: "About", path: "/about" },
];
---

<nav class="text-white p-2 grid grid-cols-[auto_1fr] bg-zinc-900">
  <section class:list={["font-bold text-lime-400"]}>
    <a
      href="/"
      class:list={[
        "hover:text-lime-400 transition-all",
        "group transition-all",
        pathname === "/" ? "" : "text-gray-50",
      ]}>DFalse</a
    >
  </section>
  <section class:list={["place-self-end flex flex-row gap-2"]}>
    {
      links.map(({ name, path }) => (
        <a
          href={path}
          class:list={[
            "group transition-all",
            pathname.startsWith(path)
              ? "bg-lime-400 text-gray-950"
              : "text-lime-400",
          ]}
        >
          [<span class="group-hover:px-2 transition-all">{name}</span>]
        </a>
      ))
    }
  </section>
</nav>
