---
const { pathname } = Astro.url;
console.log(pathname.startsWith);
---

<nav class="text-white p-2 grid grid-cols-[auto_1fr] bg-zinc-900">
  <section class:list={["font-bold text-lime-400"]}>
    <a
      href="/"
      class:list={[
        "hover:text-lime-400 transition-all",
        "group transition-all",
        pathname === "/" ? "" : "text-gray-50",
      ]}>DFalse</a
    >
  </section>
  <section class:list={["place-self-end flex flex-row gap-2"]}>
    <a
      href="/games"
      class:list={[
        "group transition-all",
        pathname.startsWith("/games")
          ? "bg-lime-400 text-gray-950"
          : "text-lime-400",
      ]}>[<span class="group-hover:px-2 transition-all">Game</span>]</a
    >
    <a
      href="/about"
      class:list={[
        "group transition-all",
        pathname.startsWith("/about")
          ? "bg-lime-400 text-gray-950"
          : "text-lime-400",
      ]}>[<span class="group-hover:px-2 transition-all">About</span>]</a
    >
  </section>
</nav>
