<main
  class="font-bold text-3xl text-gray-50 flex flex-col h-full w-full place-content-center place-items-center"
>
  <span>Welcome_</span>
  <section>Thanks for visiting my site, Have a great day.</section>
  <section class="mt-4 animate-bounce text-lime-400">(/^^)/</section>
</main>
